* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
  font-family: arial;
}

body {
  overflow: hidden;
}

#conf {
  width: 100%;
  height: 100%;
  background-color: #000;
  position: fixed;
  z-index: 9999999999;
	font-family: Androgyne;
	background-image: url('http://www.wearewebstars.dk/codepen/img/s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
	left: 0;
	top: 0;
	-webkit-animation: snow 10s linear infinite;
	-moz-animation: snow 10s linear infinite;
	-ms-animation: snow 10s linear infinite;
	animation: snow 10s linear infinite;
}

@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

#conf #conf-wrap {
  height: 250px;
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  position: absolute;
  left: calc(50% - (380px / 2));
  top: calc(50% - (250px / 2));
  padding: 40px;
  box-sizing: border-box;
  box-shadow: 0px 0px 100px #fff;
  display: none;
}

#conf #conf-wrap > * {
  width: 100%;
}

#conf input {
  padding: 8px 5px;
  border: 1px solid #888;
  margin-bottom: 10px;
  margin-top: 3px;
  box-sizing: border-box;
  border-radius: 2px;
}

#conf #run {
  background-color: limegreen;
  display: inline-block;
  padding: 15px 60px;
  color: #fff;
  box-sizing: border-box;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
  width: 100%;
}

#conf #run.disabled {
  opacity: 0.7;
  user-select: none;
  cursor: not-allowed;
}

#conf #run > i {
  margin-left: 7px;
}

#wrap {
  width: 80%;
  margin: auto;
  display: flex;
  position: relative;
  top: 100px;
}

#wrap #objects {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

#wrap #objects .object {
  padding: 10px 14px;
  color: #fff;
  margin: 0px 1px;
  border: 1px solid grey;
  background-color: limegreen;
  border-radius: 3px;
}

.flag {
  padding: 3px 6px;
  background-color: pink;
  border-radius: 2px;
  position: absolute;
  top: -30px;
}

#checker {
  position: absolute;
  bottom: -50px;
  background-color: #D9534F;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  transition: 0.4s ease-in-out;
  line-height: 40px;
}

@keyframes spinRight {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spinLeft {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

#mid {
    z-index: 99;
}

#codepen {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

#replay {
  padding: 12px 15px;
  background-color: limegreen;
  color: #fff;
  z-index: 99;
  position: fixed;
  top: 0px;
  right: 10px;
  cursor: pointer;
}

#re_conf {
  padding: 12px 15px;
  background-color: lightgreen;
  color: #fff;
  z-index: 99;
  position: fixed;
  top: 0px;
  right: 54px;
  cursor: pointer;
}

#feedback {
  width: 80%;
  margin: auto;
  position: relative;
  top: 200px;
  display: none;
}

#mag {
  height: 40px;
  position: absolute;
  bottom: 20px;
  right: 20px;
}